* {
    box-sizing: border-box;
}

main{
    margin-top: 3rem;
}

body {
    background-color: #141414 !important;
}

header{
    background-color: black;
    background: linear-gradient(0deg, rgba(20,19,19,1) 0%, rgba(0,0,0,1) 98%);
}

#logo {
    width: 7rem;
}

#titolo{
    font-size: 4rem;
}

#profilo{
    width: 8rem;
    margin-right: 1rem;
    border-radius: 10px;
}

#strive input{
    width: 20rem;
    font-size: 1.3rem;
}

#container{
    border-bottom: 1px solid rgba(128, 128, 128, 0.245);
}

.boxC input{
    width: 2rem;
    background-color: transparent !important;
    padding: 5%;
    border: 2px solid rgba(128, 128, 128, 0.245) !important;

} 

.profilo{
    border-bottom: 1px solid rgba(128, 128, 128, 0.245);
}
#maturity, #lingua{
    color: rgb(183, 177, 177);
}
button{
    background-color: grey;
    font-weight: 500;
}
#settings{
    border-bottom: 1px solid rgba(128, 128, 128, 0.245);
    border-top: 1px solid rgba(128, 128, 128, 0.245);
}
#settings button{
    margin-bottom: 2rem;
}

#penna{
    width: 1.5rem;
    border:2px black solid;
    padding: 0.3rem;
    border-radius: 50%;
    position: relative;
    bottom: 8rem;
    left: 0.3rem;
}
